
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@RenderBody()
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test3Layout</title>
</head>
<body>
    <div>
        Burası boş işler müdürünün layoutu2
    </div>





    <div>
        Burası boş işler müdürünün layoutu
    </div>

</body>
</html>
